@charset "utf-8";
/* CSS Document */

#menu .overview > ul > li.contacts {
	background-image: url('../_images/menu_icons/contacts.png');
}

#menu .overview > ul > li.money {
	background-image: url('../_images/menu_icons/money.png');
}

#menu .overview > ul > li.calendar {
	background-image: url('../_images/menu_icons/calendar.png');
}

#menu .overview > ul > li.tasks {
	background-image: url('../_images/menu_icons/tasks.png');
}

#menu .overview > ul > li.notes {
	background-image: url('../_images/menu_icons/notes.png');
}

#menu .overview > ul > li.mail {
	background-image: url('../_images/menu_icons/mail.png');
}

#menu .overview > ul > li.inventory {
	background-image: url('../_images/menu_icons/inventory.png');
}

#menu a.active {
	background-image: url('../_images/menu_icons/arrow_right.png');
}